.app-section
{
    padding-top: 0;  

}
.case-list{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
      
}
.case-list > .application-item{
    flex-basis: calc((100% / 3) - var(--card-set-gap));
    }

    .application-item:not(:last-child)
    {
        margin-right: var(--card-set-gap);
    }
.section-title
{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.position-title
 {
    position: absolute;
    bottom: 0;
             
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
} 
.app-thumb{
    position: relative;
    overflow: hidden;
    
}
.app-title{
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
}