
.reason-list{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
            
}

.reason-list__card{
    
    .reason-list > &
{
   flex-basis: calc((100% / 4) - 30px);
      
 }

    &:not(:last-child){
    margin-right:  $card-set-gap;
    }
}
.reason-list__picture{ 
    height: 120px;

    background-color: $bgc-section;
    margin-bottom: 30px;

    @extend %align-items;
    justify-content: center;
    
   }
.reason-list__text
{
    @include font(400, 14px, 1.71, 0.03em);
    color: $title-text-color;
    
   }
   .reason-list__icon{
    width: 70px;
    height: 70px;
   }
   
 
.reason-list__title
{margin-bottom: 10px;

@include font(700, 14px, 1.14, 0.03em);
text-transform: uppercase;
color: $primary-text-color;
}