.team-section
{   
    background-color: var(--bgc-section);
    text-align: center;
     
}
.team-title
{   margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.team-list{
   
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
       
}


.team-content{
    padding-top: 30px;
    padding-bottom: 30px; 
    } 

.team-item
{   background-color: var(--bgc-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    .team-list > &{
        flex-basis: calc((100% / 4) - var(--card-set-gap));
        
    }
    &:not(:last-child) {
        margin-right: var(--card-set-gap);
    }
}
.team-member
{margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}
.team-position
{
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-text-color);
margin-bottom: 16px;
}

