.modal{
    position: relative;
    
    min-height: 581px;
    min-width: 528px;
    padding: 40px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

   transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal{
    position: absolute;
    
    top: 10px;
    right: 10px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.icon-close{
    width: 18px;
    height: 18px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .close-modal:hover &{
        fill: var(--accent-text-color);
         }
        
}
.modal-title{
   font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
    
}
textarea{
    resize: none;
}
.modal-label{
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
}
.label-check{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--title-text-color);
display: flex;
align-items: center;
justify-content: center;

 span{
    
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .check-box:checked + &
   
    {
    background-color: var(--accent-text-color);
    border: none;
    }
    
    .check-box:hover + &{
        border-color: var(--accent-text-color);
    }
 }

}

   

.link-order{
    color: var(--accent-text-color);
    text-decoration: underline;
    display: inline;
    }

.form-field{
margin-bottom: 10px;

    textarea::placeholder{
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }
}
.form-field-comment{

    margin-bottom: 20px;
    
    }
.input-wripper{
    position: relative;
}
.input-field
{   width: 100%;
    margin-top: 4px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus
    {
    border-color: var(--accent-text-color);
    }
}


.icon-modal{
    position: absolute;

    height: 18px;
    width: 18px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .input-field:focus ~ &
    {
    fill: var(--accent-text-color);
    }
}

.comment{
    padding: 12px;
    
}